<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card" >
              <img
              src="https://source.unsplash.com/400x300/?poor,oldman"
                class="card-img-top card-img" 
                alt=""
                />
                <!-- <p>tax pays</p> -->
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="login" class="btn btn-outline-danger animate-shiny-button">Pledge Monthly</a>
              </div>
            </div>
          </div>
  
  
          <div class="col-sm-4">
            <div class="card" >
              <img
                src="https://source.unsplash.com/400x300/?poor,oldwomen"
                class="card-img-top  card-img"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="login" class="btn btn-outline-danger animate-shiny-button">Pledge Monthly</a>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4">
            <div class="card" >
              <img
                src="https://source.unsplash.com/400x300/?poor,child"
                class="card-img-top card-img"
                alt=""
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="login" class="btn btn-outline-danger animate-shiny-button">Pledge Monthly</a>
              </div>
            </div>
          </div>
        </div>
  
        
      </div>
</body>
</html>