<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="sect1" class="container">
        <div class="wrapper">
          <form action="#">
            <h2>Login</h2>
              <div class="input-field">
              <input type="text" required 
              class="form-control"
              id="floatingInput"
              name="name "
              [(ngModel)]="profile.name"
               >
              <label>Enter your Name</label>
            </div>
            <div class="input-field">
              <input type="password" required
              class="form-control"
              id="floatingInput"
              name="password"
              [(ngModel)]="profile.password"
               >
              <label>Enter your password</label>
            </div>
            <!-- <div class="forget">
              <label for="remember">
                <input type="checkbox" id="remember">
                <p>Remember me</p>
              </label>
              <a href="#">Forgot password?</a>
            </div> -->
            <button type="submit" value="click" (click)="show(profile)">Log In</button>
            <div class="register">
              <p>Don't have an account? <a href="#">Register</a></p>
            </div>
          </form>
        </div>
      </div>
</body>
</html>

