
.navbar-nav .nav-link .navbar-nav .nav-link{

    color:#e7424b;
    background-color:white;
}
.navbar-nav .nav-link-active, .navbar-nav .nav-link.active-link:hover{

    color:#e7424b;
    background-color:white;
    
}
.whole-navbar{
    width: 100%;
    position: fixed;
    background-attachment: fixed;
    z-index: 999;
}

.hov:hover{

    color: #e7424b;
}
.logo{
    max-width: 100%;
    height: auto;
    width: 104px;
    height: auto;
    margin-top: 4px;
    margin-bottom: 8px;
    cursor: pointer;
}
#navbarSupportedContent{

    padding-right: 182px;
    font-weight: bolder;
}

.menubar{
    padding-right:10px;
    
}
/* navbar css start */
.navbar{
    --bs-navbar-nav-link-padding-x: 2rem;
    box-shadow: 0px 6px 10px #e7424b;
    font-size: larger;
    max-width: 100%;
    height: auto;
    
   
}
.dropdown{
    transition: 0.2s;
}
.dropdown, .hov:hover{
    transform: scale(1.1);
}
.dropdown-menu.active{
    border-radius: 10px;
    border-style: hidden;
}

.dropdown-item{
    line-height: 30px;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}
.dropdown-item:hover{
    background: #f48587;
    color: white;
}
.primary_cta {
    font-size: 18px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    padding: 15px 20px ;
    margin-left: 8px;
    margin-right: -78px;
    border: 0;
    box-sizing: border-box;
    border-radius: 8px;
    text-transform: none;
    color: #fff;
    background-color: #e7424b;
    box-shadow: none;
    cursor: pointer;
    transition: 0.5s;
}
.primary_cta:hover {
    box-shadow: none;
    background-color: #f48587;
    transform: scale(0.5) rotate(360deg);
}
.bg-body-tertiary{
    --bs-bg-opacity: 1;
    background-color: white;
}
.secondary_cta {
    font-size: 1.3rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-family: "Poppins",sans-serif;
    text-transform: none;
    color: rgb(89 89 89 / 91%);
    background: none;
    border-color: #e7424b;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(16,24,40,.05);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.secondary_cta:hover{
    background: #e7424b;
    color: white;
}